
/*CSS general */
* {
    margin:0;
    padding:0; 
    box-sizing: border-box;
}

.sheet-static{
  width: 100%;
  height: 1060px;
  font-size: 10pt;
  margin: 20px;
}

/* width: 730px;
height: 970px; */


.sheet-dynamic{
  width: 100%;
  min-height: 1060px;
  font-size: 10pt;
  margin: 20px;
}
  /*
  200 mm de width
  288 mm de height
  */

  
  .logo-gobierno{
        width: 160px;
        height: 60px;
    }

  /* Evita que un div cone sta clase sea cortado, pro el salto de pagina */

.npg{
  page-break-inside: avoid;
}

@page {
  size: A4;
  margin: 20px;
}


  @media print {

    .end-page{
        page-break-before: always;
    }
    .sheet-static,.sheet-dynamic{
      margin: 0px;
      border: none;
      border: 1px solid red;
    }
    
  }

